/* App.css */

.App {
  text-align: center;
  padding: 40px;
}

.select-game {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Adds space between cards */
}

.img-container {
  width: 200px; /* Set a fixed width or use percentage for responsiveness */
  height: 300px; /* Adjust the height to maintain the aspect ratio for portrait */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
  position: relative; /* For hover effect positioning */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.select-game img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.img-container:hover {
  transform: scale(1.05); /* Slightly enlarges the card on hover */
  z-index: 10; /* Ensures the hovered card is above others */
}
